<h1>Red Alliance</h1>
<% red_alliance.each do |team| %>
<h4>Team <%= team['team_number'] %> - <%= team['nickname'] %></h4>
<ul>
  <li>Sponsored by <%= team['name'] %></li>
  <li>From <%= team['location'] %></li>
</ul>
<% end -%>
<br>
<br>
<h1>Blue Alliance</h1>
<% blue_alliance.each do |team| %>
<h4>Team <%= team['team_number'] %> - <%= team['nickname'] %></h4>
<ul>
  <li>Sponsored by <%= team['name'] %></li>
  <li>From <%= team['location'] %></li>
</ul>
<% end -%>